<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Place</h2>

<%= form_tag "/places" do %>
  <div>
    <label>Place title:</label>
    <input type="text" name="title" size="30">
  </div>

  <div>
    <label>Photo URL:</label>
    <input type="text" name="url" size="80">
  </div>
  
  <div>
    <label>Price:</label>
    <input name="price">
  </div>

  <div>
	<textarea name="desc" cols="80" rows="3"></textarea>
  </div>
  
  <input type="submit" value="Submit">

<% end %>